  * {
  font-family: "Lucida Grande";
  box-sizing: border-box;
  font-size: 20px;
  padding: 0;
  margin: 0;
  }
  body{
    background-image: url("../img/background.png"); 
    background-repeat:no-repeat;
    background-size:cover;
  }
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 15px;

  }

  .calculator{
    display: flex;
    flex-direction: column;
    width: 240px;
    border: 1.8px solid #0A0A0A;
    border-radius: 20px 20px;

  }

  .calculator-display{
    padding: 25px 15px 2px 10px;
    width : 100%;
    text-align: right;
    border: .1px solid rgba(31, 41, 52, 1);
    overflow-x: auto;
    font-size: 45px;
    font-weight: 100;
    border-radius: 20px 20px 0px 0px;
    background: rgba(31, 41, 52, 1);
    backdrop-filter: blur(20px);
    color: white;
  }

  .calculator-keypad{
    display: flex;
    width : 100%;
  }

  .keypad-numbers{
    display: flex;
    flex-wrap: wrap;
    width : 100%;
    
  }

  .keypad-button, .keypad-button-c, .keypad-button-i {
    width : 25%;
    padding : 13px 0;
    text-align : center;
    cursor : pointer;
    background-color: white;
    border: .1px solid rgba(31, 41, 52, .85);
    color: white;
  }


  .keypad-button.orange, .keypad-button-i.orange{
    background: rgba(255, 147, 20, .9);
    backdrop-filter: blur(200px);
  }

  .keypad-button.large, .keypad-button-c.large {
    width: 50%;
  }

  .keypad-button.dark, .keypad-button-c.dark {
     background: rgba(86, 93, 98, 1);
     backdrop-filter: blur(200px);
  }
  
  .keypad-button.mdark, .keypad-button-c.mdark {
     background: rgba(53, 61, 70, .85);
     backdrop-filter: blur(200px);
  }

  .keypad-button.ndark, .keypad-button-c.ndark {
     background: rgba(75, 75, 75, 0.65);
     backdrop-filter: blur(200px);
  }

  .keypad-button-c{
    border-radius: 0px 0px 0px 20px;
  }
  .keypad-button-i{
    border-radius: 0px 0px 20px 0px;
  }

  .button{
  background: url("../img/buttons.png");
  position:absolute;
  height:3%;
  width: 5.5%;
  z-index: 1;
  background-repeat:no-repeat;
  }
